.container-login{
    color: white;
}
header{
    background-color: blueviolet;
    
    /* padding-left: 50px;
    padding-right: 50px; */

    /* padding: 20px 200px; */

    /* padding-top: 50px;
    padding-bottom: 50px; */

    padding: 50px 50px;

    display: flex;
    justify-content: space-between;
}
.btn-voltar{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: red;

    opacity: .6;
    transition: .3s;
}

.btn-voltar:hover{
    cursor: pointer;
    opacity: 1;
}

.card{
    width: 40%;
    height: 260px;
    margin: auto;
    margin-top: 20px;
    background-color: black;

    gap: 10px;
    display: flex;    
    flex-direction: column;

    position: relative;
}

.text-login{
    font-weight: 900;
}

.dados{
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.dados h2{
    font-family: 'Sora';
    font-size: 15px;
}

.dados input{
    width: 100%;
    margin: 10 px 0;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    outline: none; /* Remove o contorno padrão */
    font-size: 14px;
    transition: borde-color 0.3s ease;
    background-color: transparent;
}
input{   
    border: 4px solid #3951bb;
    /*
    border-bottom: 5px solid #3951bb !important;
    */
}

.text-login{
    text-align: center;
}
label{
    margin-left: 5cqbpx;
}
.text-esqueci {
    margin-top: -10px;
    text-align: right;
    margin-right: 4px;
    font-size: 15px;
    margin-bottom: 15px;
}
.text-esqueci:hover{
    cursor: pointer;
    color: rgb(128, 78, 78);
}

.btn-entrar{
    border: 2px none;
    border-radius: 10px;
    padding: 7px;
    font-family: 'Sora';
    font-weight: 900;
    color: white;
    font-size: medium;
    background-color: rgb(44, 124, 230);
    letter-spacing: 2px; /* Espaçamento entre as letras */
    
    display: flex;
    justify-content: center;

    transition: .3s;
}

.btn-entrar:hover{
    background-color: rgb(5, 187, 187);
}

.form-esqueci{
    width: 400px;
    height: 350px;
    color: #000;
    background-color: white;

    position: absolute;
    top: 150px;
    left: 280px;
    z-index: 2;

    display: none;

    
}
.form-esqueci .btn-fechar{
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    position: absolute;
    right: -12;
    top: -10;

    display: flex;
    align-items: center;
    justify-content: center;
}
.form-esqueci .row{
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
}
.form-esqueci .row input{
  padding: 10px;    
}

.btn-alterar{
    background-color: blue;
}

.mostrar{
    display: block;
}